.container {
  margin-left: 300px;
}

.product_img1 {
  margin-top: 150px;
  padding-right: 30px;
  width: 200px;
  height: 200px;
}

.product_info1 {
  padding-left: 100px;
  padding-bottom: 200px;
}
